.single_developer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    background-color: #308EA6;
    width: 100%;
}
.single_developer:hover {
    transition: 0.25s;
    box-shadow: 0 0 2px 1px #0A5061;
}

.single_developer > img {
    width: 100px;
    border-radius: 50%;
}

.single_developer > div {
    margin-left: 10px;
    color: #D6DDDF;
}

.single_developer > div > p {
    margin-bottom: 5px;
}

.single_developer_full_name {
    font-size: 25px;
}

.single_developer_email {
    color: #0A5061;
    font-weight: 600;
    font-size: 20px;
}

.developers_wrapper_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.developers_wrapper_actions a {
    padding: 9px;
}
.developer_wrapper {
    display: flex;
    justify-content: space-between;
}
.developer_wrapper > a {
    width: 90%;
}
.delete_btn {
    background-color: transparent;
    border: none;
    color: transparent;
    width: 5%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 20px 20px 0;
    border-radius: 10%;
}
.delete_btn:hover {
    color: #D6DDDF;
    background-color: #C70449;
}